/* 
		Various class used in KI libraries to display HTML page response
		Prepared by Madhav Karandikar 09 Oct 2015.
*/
.lib_response{
	background-color:white; width: 100%; text-align:center; 
	font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.lib_help{
	font-family: Verdana, Arial, Helvetica, sans-serif;
 	background-color:white; width: 100%; text-align:center; 
	border-collapse: collapse;
}

.lib_width100{
	font-family: Arial, Helvetica, sans-serif;
    width: 100%;
	border: 0px solid #3499cd;
}
.lib_width50{
	width: 50%;
}
/* Table with 100% width */
.lib_signinpage{
	font-family: Arial, Helvetica, sans-serif;
    width: 100%; text-align: center; padding: 0px; border-spacing: 0px;
}
.lib_pageheader{
	font-family: Arial, Helvetica, sans-serif; color: 3499cd;
    width: 100%; text-align: center; padding: 0px; border-spacing: 0px;
    border-collapse: collapse;
	background-color: #e7edfa;
}
.lib_pagecaption{
	font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 15px;
    text-align: center; color: white;
}
.lib_pagetext{
	font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 40px;
    text-align: center; color: orange;
}
.lib_pagefooter{
	font-family: Arial, Helvetica, sans-serif;  color: white;
    width: 100%; text-align: center; padding: 0px; border-spacing: 0px;
    border-collapse: collapse;
	background-color: #3499cd;
}
.lib_helpheader{
	font-family: Verdana, Arial, Helvetica, sans-serif; color: 3499cd;
    width: 100%; text-align: center; padding: 0px; border-spacing: 0px;
    border-collapse: collapse;
	background-color: #e7edfa;
}
.lib_helpcaption{
	font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 15px;
    text-align: center; color: white;
}
.lib_helptext{
	font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 40px;
    text-align: center; color: orange;
}
.lib_helpfooter{
	font-family: Verdana, Arial, Helvetica, sans-serif;  color: white;
    width: 100%; text-align: center; padding: 0px; border-spacing: 0px;
    border-collapse: collapse;
	background-color: #3499cd;
}

/* Table with 100% width */
.errmsg{
	font-family: Arial, Helvetica, sans-serif;
    width: 100%;
	border-collapse: collapse;
}
/* define borders for cells and column caption */
.errmsg td, .errmsg th {
    font-size: 12px;
    border: 2px solid #3499cd;
    background-color: #e7edfa;
    padding: 5px;
}
/* define text decoration for column captions */
.errmsg th {
    font-size: .84em;
    text-align: left;
    padding: 5px;
    background-color: #3499cd;
    color: #ffffff;
	text-align: center; 
}
/* Font and background color for alternate row implemented using alt as class */
.errmsg tr.alt td {
    color: #000000;
    background-color: #660000;
}

/* define borders for cells and column caption */
.lib_help td, .lib_help th {
    font-size: 12px;
    border: 2px solid #3499cd;
    background-color: #e7edfa;
    padding: 5px;
}
/* define text decoration for column captions */
.lib_help th {
    font-size: .84em;
    text-align: left;
    padding: 5px;
    background-color: #3499cd;
    color: #ffffff;
	text-align: center; 
}
/* Font and background color for alternate row implemented using alt as class */
.lib_help tr.alt td {
    color: #000000;
    background-color: #660000;
}

/* Table with 100% width */
.lib_response table{
	background-color:white; width: 100%; text-align:center; 
	border-collapse: collapse;
	padding:2% 2% 2% 2%; border-spacing:0px; 
}
.lib_response td, th{
	background-color:white; width: 100%; text-align:center; 
    font-size: 12px;
    border: 2px solid #FF9519;
    background-color: #FFCE8E;
 }
.lib_response th{
    font-size: .84em;
    background-color: #FF9519;
    color: #ffffff;
}
.lib_response tr.alt td {
    color: #000000;
    background-color: #660000;
}
