ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  /*   background-color: #333; */
}

li {
    float: left;
    margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 12px arial;
}

li a, .dropbtn {
    text-align: left;
    text-decoration: none;
    display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 225px;
	background: #5970B2;
	color: #FFF;
	text-align: center;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0);
}

.dropdown-content a {
    color: #D32F2F;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover 
{
	background-color: #f1f1f1

}

.dropdown:hover .dropdown-content {
    display: block;
}