.width100{
	font-family: Arial, Helvetica, sans-serif;
    width: 100%; padding: 0px; border-spacing: 0px;
    border-collapse: collapse;
}
.width50{
	font-family: Arial, Helvetica, sans-serif;
	width: 50%; padding: 0px; border-spacing: 0px;
    border-collapse: collapse;
}
/* Table with 100% width */
.signinpage{
	font-family: Arial, Helvetica, sans-serif;
    width: 100%; text-align: center; padding: 0px; border-spacing: 0px;
    border-collapse: collapse;
}
.toplinks{
	font-family: Arial, Helvetica, sans-serif; color: white;
    width: 100%; text-align: center; padding: 0px; border-spacing: 0px;
    border: 0;
	background-color: #666666;
}
.toplinks a { color:  white; text-decoration: none; font-family: Arial; font-weight: bold; font-size: 13px;}
.pageheader{
	font-family: Arial, Helvetica, sans-serif; color: 666666;
    width: 100%; text-align: center; padding: 0px; border-spacing: 0px;
    border-collapse: collapse;
	background-color: #D4D7FE;
}
.pagetext{
	font-family: Arial, Helvetica, sans-serif; 
    	font-size: 12px; font-weight: bold;
 }
.bottomlinks{
	font-family: Arial, Helvetica, sans-serif; color: white;
    width: 100%; text-align: center; padding: 0px; border-spacing: 0px;
    border-collapse: collapse;
	background-color: #666666;
}
.pagefooter{
	font-family: Arial, Helvetica, sans-serif;  color: white;
    width: 100%; text-align: center; padding: 5px; border-spacing: 0px;
    border-collapse: collapse;
	background-color: #666666;
}
/* Table with 100% width */
.table100links{
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	border-collapse: collapse;
}
/* Table with 50% width */
.table50links{
	font-family: Arial, Helvetica, sans-serif;
	width: 50%;
	border-collapse: collapse;
}
.table50linksGray{
	font-family: Arial, Helvetica, sans-serif;
	width: 50%;
	border-collapse: collapse;
	background-color : #DCDCDC;
}
.table50linksBrown{
	font-family: Arial, Helvetica, sans-serif;
	width: 50%;
	border-collapse: collapse;
	background-color : #BC8F8F;
}
.table50linksOrange{
	font-family: Arial, Helvetica, sans-serif;
	width: 50%;
	border-collapse: collapse;
	background-color: #E9967A;
}
/* Table with 100% width */
.tableadmin100links{
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	border-collapse: collapse;
}
/* Table with 50% width */
.tableadmin50links{
	font-family: Arial, Helvetica, sans-serif;
	width: 50%;
	border-collapse: collapse;
}
.tableadmin50linksGray{
	font-family: Arial, Helvetica, sans-serif;
	width: 50%;
	border-collapse: collapse;
	background-color : #DCDCDC;
}
.tableadmin50linksBrown{
	font-family: Arial, Helvetica, sans-serif;
	width: 50%;
	border-collapse: collapse;
	background-color : #BC8F8F;
}
.tableadmin50linksOrange{
	font-family: Arial, Helvetica, sans-serif;
	width: 50%;
	border-collapse: collapse;
	background-color: #E9967A;
}
/* Table with 100% width */
.table100{
	font-family: Arial, Helvetica, sans-serif;
    width: 100%;
	border-collapse: collapse;
}
/* define borders for cells and column caption */
.table100 td, .table100 th {
    font-size: 12px;
    border: 2px solid #666666;
    background-color: #cfe0e8;
    padding: 5px;
}
/* define text decoration for column captions */
.table100 th {
    font-size: .84em;
    text-align: left;
    padding: 5px;
    background-color: #666666;
    color: #ffffff;
	text-align: center; 
}
/* Font and background color for alternate row implemented using alt as class */
.table100 tr.alt td {
    color: #000000;
    background-color: #E6FBFF;
}

/* Table with 50% width */
.table50{
	font-family: Arial, Helvetica, sans-serif;
    width: 50%;
	border-collapse: collapse;
}
/* define borders for cells and column caption */
.table50 td, .table50 th {
    font-size: 12px;
    border: 2px solid #666666;
    background-color: #cfe0e8;
    padding: 5px;
}
/* define text decoration for column captions */
.table50 th {
    font-size: .84em;
    text-align: left;
    padding: 5px;
    background-color: #666666;
    color: #ffffff;
	text-align: center; 
}
/* Font and background color for alternate row implemented using alt as class */
.table50 tr.alt td {
    color: #000000;
    background-color: #E6FBFF;
}



/* Table with 100% width */
.tableadmin100{
	font-family: Arial, Helvetica, sans-serif;
    width: 100%;
	border-collapse: collapse;
}
/* define borders for cells and column caption */
.tableadmin100 td, .table100 th {
    font-size: 12px;
    border: 2px solid #666666;
    background-color: #d2bae0;
    padding: 5px;
}
/* define text decoration for column captions */
.tableadmin100 th {
    font-size: .84em;
    text-align: left;
    padding: 5px;
    background-color: #666666;
    color: #ffffff;
	text-align: center; 
}
/* Font and background color for alternate row implemented using alt as class */
.tableadmin100 tr.alt td {
    color: #000000;
    background-color: #E6FBFF;
}

/* Table with 50% width */
.tableadmin50{
	font-family: Arial, Helvetica, sans-serif;
    width: 50%;
	border-collapse: collapse;
}
/* define borders for cells and column caption */
.tableadmin50 td, .tableadmin50 th {
    font-size: 12px;
    border: 2px solid #666666;
    background-color: #d2bae0;
    padding: 5px;
}
/* define text decoration for column captions */
.tableadmin50 th {
    font-size: .84em;
    text-align: left;
    padding: 5px;
    background-color: #666666;
    color: #ffffff;
	text-align: center; 
}
/* Font and background color for alternate row implemented using alt as class */
.tableadmin50 tr.alt td {
    color: #000000;
    background-color: #E6FBFF;
}


/* Table with 100% width */
.tablecustomer100{
	font-family: Arial, Helvetica, sans-serif;
    width: 100%;
	border-collapse: collapse;
}
/* define borders for cells and column caption */
.tablecustomer100 td, .tablecustomer100 th {
    font-size: 12px;
    border: 2px solid #666666;
    background-color: #ddd5e1;
    padding: 5px;
}
/* define text decoration for column captions */
.tablecustomer100 th {
    font-size: .84em;
    text-align: left;
    padding: 5px;
    background-color: #666666;
    color: #ffffff;
	text-align: center; 
}
/* Font and background color for alternate row implemented using alt as class */
.tablecustomer100 tr.alt td {
    color: #000000;
    background-color: #E6FBFF;
}

/* Table with 50% width */
.tablecustomer50{
	font-family: Arial, Helvetica, sans-serif;
    width: 50%;
	border-collapse: collapse;
}
/* define borders for cells and column caption */
.tablecustomer50 td, .tablecustomer50 th {
    font-size: 12px;
    border: 2px solid #666666;
    background-color: #ddd5e1;
    padding: 5px;
}
/* define text decoration for column captions */
.tablecustomer50 th {
    font-size: .84em;
    text-align: left;
    padding: 5px;
    background-color: #666666;
    color: #ffffff;
	text-align: center; 
}
/* Font and background color for alternate row implemented using alt as class */
.tablecustomer50 tr.alt td {
    color: #000000;
    background-color: #E6FBFF;
}

/* 
		Table with 990px width without border
*/
/* .table990px{
	font-family: Arial, Helvetica, sans-serif;
    width: 990px;
    border: 0;
} */
