<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>InternateBanking</display-name>
  <welcome-file-list>
 
    <welcome-file>index.jsp</welcome-file>
   
  </welcome-file-list>
  <servlet>
    <servlet-name>toRegister</servlet-name>
    <servlet-class>com.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toRegister</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleCaptcha</servlet-name>
    <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleCaptcha</servlet-name>
    <url-pattern>/simpleCaptcha.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toLogin</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>validateEmailServlet</servlet-name>
    <servlet-class>com.controller.AjaxEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateEmailServlet</servlet-name>
    <url-pattern>/AjaxEmailServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>validateUserNameServlet</servlet-name>
    <servlet-class>com.controller.AjaxUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateUserNameServlet</servlet-name>
    <url-pattern>/AjaxUserNameServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addSecurityQuestionServlet</servlet-name>
    <servlet-class>com.controller.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addSecurityQuestionServlet</servlet-name>
    <url-pattern>/addsecurityquestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendMailtoResetPassword</servlet-name>
    <servlet-class>com.controller.SendMailToResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendMailtoResetPassword</servlet-name>
    <url-pattern>/sendmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgetPassword</servlet-name>
    <servlet-class>com.controller.ForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassword</servlet-name>
    <url-pattern>/forgetpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgetPasswordCall</servlet-name>
    <servlet-class>com.controller.CallForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordCall</servlet-name>
    <url-pattern>/CallForgetPasswordServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddquestionServlet</servlet-name>
    <servlet-class>com.controller.AddQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddquestionServlet</servlet-name>
    <url-pattern>/addquestion</url-pattern>
  </servlet-mapping>
  <servlet> 
    <servlet-name>DeleteQuestionServlet</servlet-name>
    <servlet-class>com.controller.DeleteQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuestionServlet</servlet-name>
    <url-pattern>/deletequestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateQusServlet</servlet-name>
    <servlet-class>com.controller.UpdateQusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQusServlet</servlet-name>
    <url-pattern>/updatesecurityquestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addBranchServlet</servlet-name>
    <servlet-class>com.controller.AddBranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBranchServlet</servlet-name>
    <url-pattern>/addbranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteBranchServlet</servlet-name>
    <servlet-class>com.controller.DeleteBranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBranchServlet</servlet-name>
    <url-pattern>/deletebranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateBranchServlet</servlet-name>
    <servlet-class>com.controller.UpdateBranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBranchServlet</servlet-name>
    <url-pattern>/updatebranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toAdminEmployeeRegister</servlet-name>
    <servlet-class>com.controller.AdminEmployeeRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toAdminEmployeeRegister</servlet-name>
    <url-pattern>/adminregister</url-pattern>
  </servlet-mapping> 
  <servlet>
		<servlet-name>DeleteAdminServlet</servlet-name>
		<servlet-class>com.controller.DeleteAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAdminServlet</servlet-name>
		<url-pattern>/deleteadmin</url-pattern>
	</servlet-mapping>
	
	<servlet>
  <servlet-name>UpdateRegisterServlet</servlet-name>
  <servlet-class>com.controller.UpdateRegisterServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>UpdateRegisterServlet</servlet-name>
  <url-pattern>/updateRegister</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>DeleteEmployeeServlet</servlet-name>
		<servlet-class>com.controller.DeleteEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteEmployeeServlet</servlet-name>
		<url-pattern>/deleteemployee</url-pattern>
	</servlet-mapping>
  
  <servlet>
		<servlet-name>DeleteCustomerServlet</servlet-name>
		<servlet-class>com.controller.DeleteCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCustomerServlet</servlet-name>
		<url-pattern>/deletecustomer</url-pattern>
	</servlet-mapping>
   <servlet>
    <servlet-name>updateUserPassword</servlet-name>
    <servlet-class>com.controller.UpdateUserPasswordAdminEmployeeRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserPassword</servlet-name>
    <url-pattern>/UpdateUserPasswordAdminEmployeeRegisterServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
   	<servlet-name>updateUserPasswordAdminEmployee</servlet-name>
    <servlet-class>com.controller.UpdateUserPasswordAdminEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserPasswordAdminEmployee</servlet-name>
    <url-pattern>/updateuserpasswordofadminemp</url-pattern>
  </servlet-mapping>
  <servlet>
		<servlet-name>CustomerForgetPwdServlet</servlet-name>
		<servlet-class>com.controller.CustomerForgetPwdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerForgetPwdServlet</servlet-name>
		<url-pattern>/customer_forgetpassword</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CustomerAadharServlet</servlet-name>
		<servlet-class>com.controller.CustomerUpdateAadharServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerAadharServlet</servlet-name>
		<url-pattern>/customerAadharNumber</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateCurrentCustProfile</servlet-name>
		<servlet-class>com.controller.UpdateCurrentCustomerProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateCurrentCustProfile</servlet-name>
		<url-pattern>/updatecurrent_custprofile</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>MailOTP</servlet-name>
	<servlet-class>com.controller.ProfileUpdatationWithOTP</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>MailOTP</servlet-name>
	<url-pattern>/ProfileUpdatationWithOTP</url-pattern>
	</servlet-mapping>
	
	
</web-app>